# =========================================================================
# Java Core Exclusions
# =========================================================================
# Compiled class files
*.class

# Log files
*.log

# Package Files (Uncomment if you do not want to track your built artifacts)
*.jar
*.war
*.ear
*.zip
*.tar.gz

# Virtual machine crash logs
hs_err_pid*
replay_pid*

# Eclipse
.metadata
.classpath
.project
.settings/
.factorypath
.idea
/bin/

#Intellij
LeetCode.iml